<div class="container">
    <h1>Cart</h1>

    <ng-container *ngIf="!isLoading else loading">
        <ng-container *ngFor="let item of cart.products">
        <app-product [product]="item" [renderType]="'cart'"></app-product>
        </ng-container>
    </ng-container>
    <ng-template #loading>
        <h3>Loading <fa-icon [icon]="['fas', 'spinner']" [spin]="true" [size]="'2x'"></fa-icon></h3>
    </ng-template>
  </div>

 <div class="d-flex justify-content-center"> 
    <a [routerLink]="['order']">
        <button>
            <fa-icon [icon]="['fas', 'shopping-cart']" [size]="'sm'"> </fa-icon>
            Order
        </button>
    </a>
</div>
